<!doctype html>
<html lang="en">
  <head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <%- include('partials/header.ejs') %> 
  <body>
    <div class="card mx-auto mt-5" style="width: 600px;">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
        <form action="/dashboard" method="post">
          <div class="form-group row">
            <label for="name" class="col-lg-4 col-form-label">Name</label>
            <div class="col-lg-7">
              <input type="text" id="name" name="name" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="email" class="col-lg-4 col-form-label">E-mail Addres</label>
            <div class="col-lg-7">
              <input type="text" id="email" name="email" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-lg-4 col-form-label">password</label>
            <div class="col-lg-7">
              <input type="password" id="password" name="password" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label for="passwordConfirmation" class="col-lg-4 col-form-label">Confirm Password</label>
            <div class="col-lg-7">
              <input type="password" id="passwordConfirmation" name="passwordConfirmation" class="form-control">
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>